
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width">
    <title>登录-腾讯内容开放平台</title>
    <link rel="dns-prefetch" href="//mat1.gtimg.com">
    <link rel="dns-prefetch" href="//mat1.gtimg.com">
    <link rel="shortcut icon" href="//mat1.gtimg.com/om/om_2.0/images/favicon_om.ico"/>
    <link rel="stylesheet" type="text/css" href="//mat1.gtimg.com/om/om_2.0/css/style.login-a9fff3e168.min.css"><style type="text/css">
    .estrela {
        background-color: white;
        border-radius: 50%;
        position: absolute;
        animation-name: estrela;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .estrela.style1 { animation-duration: 0.5s; animation-name: estrela; }
    .estrela.style2 { animation-duration: 1s; animation-name: estrela; }
    .estrela.style3 { animation-duration: 1.5s; animation-name: estrela; }
    .estrela.style4 { animation-duration: 2s; animation-name: estrelaDestacada; }

    .estrela.tam1 { width: 1px; height: 1px; }
    .estrela.tam2 { width: 2px; height: 2px; }
    .estrela.tam3 { width: 3px; height: 3px; }

    .estrela.opacity1 { opacity:  1; }
    .estrela.opacity2 { opacity: .5; }
    .estrela.opacity3 { opacity: .1; }


    @keyframes estrela {
        0% {
            box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
        }
        50% {
            box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
        }
        100% {
            box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
        }
    }

    @keyframes estrelaDestacada {
        0% {
            background-color: #FFFFFF;
            box-shadow: 0 0 10px 0px rgba(255, 255, 255, 1);
        }
        20% {
            background-color: #FFC4C4;
            box-shadow: 0 0 10px 0px rgb(255, 196, 196, 1);
        }
        80% {
            background-color: #C4CFFF;
            box-shadow: 0 0 10px 0px rgb(196, 207, 255, 1);
        }
        100% {
            background-color: #FFFFFF;
            box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.2);
        }
    }
</style>
    <script>
        !function(){
            var pvImg = new Image(1, 1),
                path = window.location.pathname.split('/'),
                options = {
                    BossId: 3765,
                    Pwd: 1514525181,
                    page: "pageView_front",
                    omfunction: path[1] || "",
                    module: path[2] || "",
                    event: "view",
                    result: "",
                    reason: "",
                    browser: navigator.userAgent,
                    mediaid: '',
                    uin: '',
                    userip: ""
                },
                parmas = '';

            for(var p in options){
                if(options.hasOwnProperty(p)){
                    parmas += ('&' + p + '=' + options[p]);
                }
            }
            setTimeout(function(){
                pvImg.src = "https://btrace.qq.com/kvcollect?"+parmas;
            },10)
        }()
    </script>

    <script>
        (function() {
            var mta = document.createElement("script");
            mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
            mta.setAttribute("name", "MTAH5");
            mta.setAttribute("sid", "500549921");
            mta.setAttribute("cid", "500549930");
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(mta, s);
        })();
    </script>
    <script type="text/javascript">
        var siteBaseUrl='https://om.qq.com/';
        (function () {
            try {

                var e = navigator.userAgent, t = e.match(/iPhone|iPod/i);
                if(t || e.indexOf("Android") > -1 || e.indexOf("IEMobile") > -1){
                    if(location.href.indexOf('/wenda/detail?wendaid=')>-1){
                        var wendaid='';
                        var reg = new RegExp("(^|&)" + 'wendaid' + "=([^&]*)(&|$)");
                        var r = window.location.search.substr(1).match(reg);
                        if (r != null) wendaid = unescape(r[2]);
                        location.href = 'http://m.om.qq.com/mobile/wenda?wendaid='+wendaid;

                    }else{
                        location.href = 'http://m.om.qq.com/mobile/article';
                    }
                }else{//pc端
                    if(location.host.indexOf('m.om.qq.com')!=-1){
                        location.href = siteBaseUrl;
                    }
                }
            }catch (n) {
            }
        })();
    </script>
    <script language="javascript" src="//js.aq.qq.com/js/aq_common.js"></script>
    <script src="//mat1.gtimg.com/om/om_2.0/libs/d3.v4.min.js"></script>
</head>




<body style="display:none;">

<div class="screens" id="screens">
    <div class="header clearFix" id="header">
        <h1 class="header-logo">
            <a class="header-logo-link">
                <strong class="header-logo-slogan">企鹅号</strong>
            </a>
        </h1>
        <div class="header-login pull-right">
            <a class="btn" href="/userReg/mediaType" title="注册">注册</a>
            <a class="btn btn-a-login" href="javascript:void(0);" title="登录">登录</a>
        </div>
    </div>
    <!-- header -->
    <div class="first-screen" >
        <div class="bg" id="skin-bg">
            <div id="skyContainer" style="width: 100%; height: 300px; position: absolute; overflow: hidden;Z-index: 99999;"></div>
            <img src="//mat1.gtimg.com/om/om_2.0/images/login_screen1_bg.jpg">
        </div>
        <div class="mask-full" style="opacity:0;"></div>
        <h1 class="logo">企鹅号</h1>
        <div class="show-list">
            <div class="show-item">
                <span class="show-box"><i class="icon-login icon-login-code"></i></span>
                <div class="tooltip">
                    <div class="tooltip-inner">
                        <h4>腾讯内容开放平台</h4>
                        <div class="qrcode">
                            <img src="//mat1.gtimg.com/om/om_2.0/images/login/code_login.png" alt="" class="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="show-item">
                <a class="show-box" href="https://open.om.qq.com/" target="_blank"><i class="icon-login icon-login-developer"></i></a>
                <div class="tooltip">
                    <div class="tooltip-inner">
                        <h4>企鹅号开发者中心</h4>
                    </div>
                </div>
            </div>
            <div class="show-item">
                <a class="show-box" href="https://kf.om.qq.com/" target="_blank"><i class="icon-login icon-login-help"></i></a>
                <div class="tooltip tooltip-sm">
                    <div class="tooltip-inner">
                        <h4>常见问题</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="galaxy" style="top:100px">
                <svg width="1352" height="522">
                    <defs>
                        <pattern id="networkBg" patternUnits="userSpaceOnUse" width="100%" height="100%">
                            <image xlink:href="//mat1.gtimg.com/om/om_2.0/images/network-3.0.png" x="0" y="0" width="1352" height="522" />
                        </pattern>
                    </defs>
                    <rect width="1352" height="522" style="fill:url(#networkBg);stroke-width:1;stroke:none" />
                </svg>
                <div id="userInfoTips" class="galaxy-dialog" style="position: absolute;opacity:0;z-index:999;display:none;">
                    <div class="galaxy-content">
                        <h4 class="name"></h4>
                        <p class="text"></p>
                    </div>
                </div>
            </div>
            <h2 class="slogan">让世界看到你</h2>
            <!--首屏登录框会追加到这里 -->
        </div>
        <div class="mouse">
            <i class="icon-login icon-login-mouse-arrow"></i>
        </div>
        <!-- 鼠标 -->
        <div class="cover-info">
            <i class="icon-login icon-login-bracket-left"></i>
            <span class="text text-author">企鹅号:<em>中国星空摄影联盟</em></span>
            <span class="text text-loca">摄于珠峰大本营</span>
            <i class="icon-login icon-login-bracket-right"></i>
        </div>
    </div>
    <!-- 首屏 -->

    <!-- 首屏 -->
    <div class="middle-screen" >
        <div class="screen-2">
            <div class="container">
                <div class="screen2-wrap">
                    <h4 class="title">百亿计划</h4>
                    <ul class="intro-list">
                        <li class="intro-item">
                            <span class="number">100</span>
                            <span class="text">亿产业资源</span>
                        </li>
                        <li class="intro-item">
                            <span class="number">100</span>
                            <span class="text">亿流量</span>
                        </li>
                        <li class="intro-item">
                            <span class="number">100</span>
                            <span class="text">亿资金</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="screen-3">
            <div class="container">
                <div class="screen3-wrap">
                    <ul class="intro-list">
                        <li class="intro-item">
                            <i class="icon-login icon-login-plan-d"></i>
                            <h4 class="title">产业资源共享</h4>
                            <p class="text">开放众创空间文创基地和新媒体学院培训平台</p>
                        </li>
                        <li class="intro-item">
                            <i class="icon-login icon-login-plan-a"></i>
                            <h4 class="title">内容创作分成</h4>
                            <p class="text">底层页广告和信息流广告均参与分成</p>
                        </li>
                        <li class="intro-item">
                            <i class="icon-login icon-login-plan-b"></i>
                            <h4 class="title">版权内容保护</h4>
                            <p class="text">建立内容版权联盟，保护版权内容，7*24小时监控打击盗版</p>
                        </li>
                        <li class="intro-item">
                            <i class="icon-login icon-login-plan-c"></i>
                            <h4 class="title">潜力IP孵化</h4>
                            <p class="text">打通产业链条，帮助优质项目实现商业价值最大化</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="screen-4">
            <div class="container">
                <div class="screen4-cicle">
                    <span class="cicle cicle-1"></span>
                    <span class="cicle cicle-2"></span>
                    <span class="cicle cicle-3"></span>
                    <span class="cicle cicle-4"></span>
                </div>
                <div class="screen4-wrap">
                    <h3 class="title">全网流量开放升级</h4>
                        <p class="text"><span class="number">10</span>大平台，<span class="number">100</span>亿流量，覆盖<span class="number">10</span>亿群体</p>
                        <div class="login_screen4_logo"></div>
                </div>
            </div>
        </div>
        <div class="screen-5">
            <div class="container">
                <div class="screen5-wrap">
                    <h3 class="title">强大的平台功能</h4>
                        <p class="sub-title">为创作，保驾护航。</p>
                        <ul class="intro-list">
                            <li class="intro-item">
                                <i class="icon-login icon-login-platform-a"></i>
                                <h4 class="title">多样的内容接入形式</h4>
                                <p class="text">支持微信公众号内容源、RSS内容源同步，支持开发者通过API接入内容</p>
                            </li>
                            <li class="intro-item">
                                <i class="icon-login icon-login-platform-b"></i>
                                <h4 class="title">丰富的内容类型支持</h4>
                                <p class="text">支持图文、短视频、直播、问答等多种类型的内容发布</p>
                            </li>
                            <li class="intro-item">
                                <i class="icon-login icon-login-platform-c"></i>
                                <h4 class="title">完善的版权保护策略</h4>
                                <p class="text">建立版权内容监控系统，支持原创内容全网维权</p>
                            </li>
                            <li class="intro-item">
                                <i class="icon-login icon-login-platform-d"></i>
                                <h4 class="title">完备的数据分析能力</h4>
                                <p class="text">实时数据分析，渠道流量细分，提供用户画像和热门内容的数据支持</p>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="screen-6">
            <div class="container">
                <div class="screen6-wrap">
                    <h3 class="title">欢迎入驻</h3>
                    <ul class="intro-list">
                        <li class="intro-item item-1">
                            <span class="text">科研院所</span>
                        </li>
                        <li class="intro-item item-2">
                            <span class="text">美食达人</span>
                        </li>
                        <li class="intro-item item-3">
                            <span class="text">专家学者</span>
                        </li>
                        <li class="intro-item item-4">
                            <span class="text">漫画家</span>
                        </li>
                        <li class="intro-item item-5">
                            <span class="text">作家</span>
                        </li>
                        <li class="intro-item item-6">
                            <span class="text">明星艺人</span>
                        </li>
                        <li class="intro-item item-7">
                            <span class="text">协会组织</span>
                        </li>
                        <li class="intro-item item-8">
                            <span class="text">政府机构</span>
                        </li>
                        <li class="intro-item item-9">
                            <span class="text">MCN机构</span>
                        </li>
                        <li class="intro-item item-10">
                            <span class="text">自媒体人</span>
                        </li>
                        <li class="intro-item item-11">
                            <span class="text">旅游达人</span>
                        </li>
                        <li class="intro-item item-12">
                            <span class="text">摄影达人</span>
                        </li>
                        <li class="intro-item item-13">
                            <span class="text">兴趣达人</span>
                        </li>
                        <li class="intro-item item-14">
                            <span class="text">时尚博主</span>
                        </li>
                        <li class="intro-item item-15">
                            <span class="text">行业精英</span>
                        </li>
                    </ul>
                    <div class="info-text">
                        <span class="text">来自各行各业的你...</span>
                        <span class="arrow"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="screen-7">
            <div class="container">
                <div class="screen7-wrap">
                    <div class="action">
                        <a class="btn btn-primary" href="/userReg/mediaType">开通企鹅号</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="footer-email">
                    <i class="icon-login icon-login-email"></i>
                    <a href="mailto:OM_CP@tencent.com" class="text-email">商务合作邮箱：OM_CP@tencent.com</a>
                </div>
                <div class="footer-menu">
                    <a href="//www.tencent.com/zh-cn/" rel="nofollow" target="_blank">关于腾讯</a>
                    <span>｜</span>
                    <a href="//om.qq.com/notice/a/20160429/047194.htm" rel="nofollow" target="_blank">服务协议</a>
                    <span>｜</span>
                    <a href="//kf.om.qq.com/group/77c15d21-9f3c-4a9d-82fd-4b1a30f44902" target="_blank">入驻指引</a>
                    <span>｜</span>
                    <a href="//open.om.qq.com/" target="_blank">开发者中心</a>
                    <span>｜</span>
                    <a href="http://partner.om.qq.com/?zctag=5.1.1.2" target="_blank">企鹅号城市合伙人</a>
                    <span>｜</span>
                    <a href="//kf.om.qq.com/" target="_blank">常见问题</a>
                    <!-- 减少反馈量 from pallaszhao -->
                    <!-- <span>｜</span>
                    <a href="https://kf.om.qq.com/feedback/index" target="_blank">联系客服</a> -->
                </div>
                <div class="copyrighten">Copyright © 1998 - <span><script>document.write(new Date().getFullYear());</script></span> Tencent. <a target="_blank" href="http://www.tencent.com/en-us/le/copyrightstatement.shtml" rel="nofollow">All Rights Reserved.</a></div>
            </div>
        </div>
    </div>
    <!-- 中间屏 -->
</div>
<!-- 合并版的基础库 -->
<script type="text/javascript" src="//mat1.gtimg.com/om/om_2.0/baselibs/baselibs.9a65ca.js"></script>
<script type="text/javascript" src="//mat1.gtimg.com/om/om_2.0/libs/layer/layer.min.js"></script>

<!--[if lt IE 9]>
<script src="//mat1.gtimg.com/om/om_2.0/libs/es5/es5-shim.min.js"></script>
<script src="//mat1.gtimg.com/om/om_2.0/libs/es5/es5-sham.min.js"></script>
<script src="//mat1.gtimg.com/om/om_2.0/libs/ie8-pollyfill.js"></script>
<![endif]-->
<script>
    $(function(){
        var dd, funel = funel || 150;
        var $menu = $(".header-login .dropdown-menu"),
            $nick = $(".header-login .user .name");

        var $sidemenu = $('.side .menu');

        $sidemenu.on('click', '.tooltip .pop-close', function(){
            $(this).closest('.menu-item-tips-w').find('.menu-item-tips-w').removeClass('menu-item-tips-w');
            $(this).closest('.tooltip').remove();
        })

        function showMenu() {
            clearTimeout(dd);
            $menu.show();
        }

        function hideMenu() {
            dd = setTimeout(function() {
                $menu.hide();
            }, funel);
        }
        $menu.on("mouseenter", function() {
            showMenu();
            return false;
        }).on("mouseleave", function() {
            hideMenu();
            return false;
        });
        $nick.on("mouseenter", function() {
            showMenu();
            return false;
        }).on("mouseleave", function() {
            hideMenu();
            return false;
        });

        $("#userNick a.link-shenfen").on("mouseenter", function(e) {
            var title = $(this).attr("title");
            if (title) {
                $(this).removeAttr("title");
                $(this).attr("data-title", title);
            } else {
                title = $(this).attr("data-title");
            }

            if (title) {
                var _this = this;
                layer.tips(title, $(_this), {
                    time: 10000,
                    tips: 1,
                    success: function($container, index) {
                        var width = $container.width();
                        var left = parseInt($container.css("left"));
                        $container.css("left", left - width / 2 + 16);
                    }
                });
            }
        }).on("mouseleave", function(e) {
            layer.closeAll();
        });


        // 互动消息小红点
        (function($) {
            try {
                var cookie = {
                    get: function(name, raw) {
                        var arr = document.cookie.match(new RegExp("(^| )" + name + "=([^;]*)(;|$)"));
                        if (arr != null) {
                            return raw ? arr[2] : unescape(arr[2]);
                        }
                        return null;
                    }
                };

                if($(".menu li.interactiveMessage").length){
                    if ("/interactive/message" == location.pathname) {
                        return null;
                    }

                    var url = "/hd/" + g_userInfo.mediaId + "/noread";
                    var params = {
                        omtoken: cookie.get("omtoken"),
                        msgtype: 1,
                        _: parseInt(Math.random() * 1E9)
                    };
                    $.ajax({
                        url: url,
                        data: params,
                        dataType: "json",
                        type: "get"
                    }).then(function(resp) {
                        var $menu = $(".interactiveComment").find("a").first()
                        if (resp.data.num > 0) {
                            $menu.html('评论管理<span class="wake-mark">&#9679;</span>');
                        } else {
                            $menu.html('评论管理');
                        }
                    });
                }

                if($(".menu li.weibo").length){
                    if ("/weibo/index" == location.pathname) {
                        return null;
                    }
                    var params = {
                        omtoken: cookie.get("omtoken"),
                        msgtype: 12,
                        _: parseInt(Math.random() * 1E9)
                    };
                    $.ajax({
                        url: url,
                        data: params,
                        dataType: "json",
                        type: "get"
                    }).then(function(resp) {
                        var $menu = $(".weibo").find("a").first()
                        if (resp.data.num > 0) {
                            $menu.html('企鹅微博<span class="wake-mark">&#9679;</span>');
                        } else {
                            $menu.html('企鹅微博');
                        }
                    });
                }
            } catch (e) {}
        })(jQuery);
    });
</script>
<script language="javascript" src="//pingjs.qq.com/tcss.ping.https.js"></script>
<script>try{pgvMain()}catch(e){}</script>
<!-- build:basejs --><script src="//mat1.gtimg.com/om/om_2.0/js/build/base_main_e08acaa2.js"></script><!-- endbuild -->    <!-- build:bizjs -->
<script src="//mat1.gtimg.com/om/om_2.0/js/build/userAuth_newIndex_main_33315cf1.js"></script>
<!-- endbuild -->




</body>


</html>