<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.real.cyd.mapper.LdOrderexecutionMapper" >
  <resultMap id="BaseResultMap" type="com.real.cyd.bean.LdOrderexecution" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="client_id" property="clientId" jdbcType="VARCHAR" />
    <result column="sum" property="sum" jdbcType="INTEGER" />
    <result column="estimated_time" property="estimatedTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="is_take_away" property="isTakeAway" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.real.cyd.bean.vo.OrderExecutionVo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="client_id" property="clientId" jdbcType="VARCHAR" />
    <result column="sum" property="sum" jdbcType="INTEGER" />
    <result column="estimated_time" property="estimatedTime" jdbcType="TIMESTAMP" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR"></result>
    <result column="phone" property="phone" jdbcType="VARCHAR"></result>
    <result column="real_price" property="realPrice" jdbcType="DECIMAL"></result>
    <result column="state" property="state" jdbcType="INTEGER"></result>
    <result column="is_take_away" property="isTakeAway" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, client_id, sum, estimated_time, state, is_take_away, create_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ld_orderexecution
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ld_orderexecution
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.real.cyd.bean.LdOrderexecution" >
    insert into ld_orderexecution (id, client_id, sum, 
      estimated_time, state, is_take_away, 
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{clientId,jdbcType=VARCHAR}, #{sum,jdbcType=INTEGER}, 
      #{estimatedTime,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, #{isTakeAway,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.real.cyd.bean.LdOrderexecution" >
    insert into ld_orderexecution
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clientId != null" >
        client_id,
      </if>
      <if test="sum != null" >
        sum,
      </if>
      <if test="estimatedTime != null" >
        estimated_time,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="isTakeAway != null" >
        is_take_away,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null" >
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="sum != null" >
        #{sum,jdbcType=INTEGER},
      </if>
      <if test="estimatedTime != null" >
        #{estimatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="isTakeAway != null" >
        #{isTakeAway,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByExampleSelective" parameterType="map" >
    update ld_orderexecution
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.clientId != null" >
        client_id = #{record.clientId,jdbcType=VARCHAR},
      </if>
      <if test="record.sum != null" >
        sum = #{record.sum,jdbcType=INTEGER},
      </if>
      <if test="record.estimatedTime != null" >
        estimated_time = #{record.estimatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.isTakeAway != null" >
        is_take_away = #{record.isTakeAway,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ld_orderexecution
    set id = #{record.id,jdbcType=VARCHAR},
      client_id = #{record.clientId,jdbcType=VARCHAR},
      sum = #{record.sum,jdbcType=INTEGER},
      estimated_time = #{record.estimatedTime,jdbcType=TIMESTAMP},
      state = #{record.state,jdbcType=INTEGER},
      is_take_away = #{record.isTakeAway,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.real.cyd.bean.LdOrderexecution" >
    update ld_orderexecution
    <set >
      <if test="clientId != null" >
        client_id = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="sum != null" >
        sum = #{sum,jdbcType=INTEGER},
      </if>
      <if test="estimatedTime != null" >
        estimated_time = #{estimatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="isTakeAway != null" >
        is_take_away = #{isTakeAway,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.real.cyd.bean.LdOrderexecution" >
    update ld_orderexecution
    set client_id = #{clientId,jdbcType=VARCHAR},
      sum = #{sum,jdbcType=INTEGER},
      estimated_time = #{estimatedTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      is_take_away = #{isTakeAway,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="queryList" resultMap="BaseResultMap2"
          parameterType="com.real.cyd.req.ld.QueryOrderReq">
    SELECT o.*,c.`name`,c.`phone` FROM ld_orderexecution o LEFT JOIN ld_client  c ON  o.`client_id` = c.`id`
    <where>
      <if test="id != null and id != ''" >
        o.id = #{id}
      </if>
      <if test="name != null and name != ''" >
        c.name = #{name}
      </if>
      <if test="phone != null and phone != ''" >
        c.`phone` = #{phone}
      </if>
      <if test="startTime != null and startTime != ''">
        AND o.CREATE_time  &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND o.CREATE_time  &lt;= #{endTime}
      </if>
      <if test="emStartTime != null and emStartTime != ''">
        AND estimated_time  &gt;= #{emStartTime}
      </if>
      <if test="emEndTime != null and emEndTime != ''">
        AND estimated_time  &lt;= #{emEndTime}
      </if>
    </where>
  </select>
  <select id="count" resultType="int">
    SELECT count(*) FROM ld_orderexecution
  </select>
</mapper>